<div class="container-header">
  <div class="container">
    <h1 id="writersmob">WritersMob</h1>
    <div style="font-family: PTMono-Regular;
      font-size: 18px;
      position: absolute;
      text-align: center;
      top: 141px;
      margin-left: 171px;
      text-decoration: underline">
      <%= link_to "Personal Profile", edit_profile_path(@user) %>
    </div>
    <div style="font-family: PTMono-Regular;
      font-size: 18px;
      color: #808080;
      line-height: 36px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid;
      padding: 8px 10px 8px 10px;
      text-decoration: none;
      width: 18%; 
      position: absolute;
      top: 188px;
      text-align: center; margin-left: 153px;">
      Account Settings
    </div>
    <ul class="menu" style="top: 23px">
      <li><a href="/history">History</a>
      </li>
    </ul>
  </div>
  <div style="border-left: thick solid red">
  </div>
</div>
<div class="center-div">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div style="text-align: center">
      <div style="margin: auto;"><%= f.label :email, :style => "font-family: PTMono-Regular; color: #C9C9C9; margin-top: 20px; float: left" %></div>
      <div><%= f.email_field :email, :value =>  @email, autofocus: true, :style => "color: #808080; height: 39px; font-size: 20px; margin: 0 auto" %></div>
    </div>
    <br />
    <%= link_to "Change password", change_password_path, 'data-no-turbolink' => true %>
    <br />
    <div style="text-align: center">
      <%= button_tag(type: 'submit', class: "ladda-button", 'data-style' => "zoom-out", :style=> "font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        border-radius: 10px;
        width: 100%;
        border: #fbfbfb solid 4px;
        cursor:pointer;
        background-color: #3498db;
        color:white;
        font-size:24px;
        padding-top:8px;
        padding-bottom:8px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
          margin-top:-4px;
          font-weight:100;") do %>
        <span class="ladda-label">Update</span>
      <% end %>
  <% end %>
</div>
<%=javascript_include_tag "ladda.min.js", "spin.min.js" %>
<script>
  $(document).ready(function() { 
    Ladda.bind( '.ladda-button' );
    
  });
</script>