<% challenges.each_with_index do |challenge, i| %>
	<tr class="challenge">
			<% challenge.responses.each_with_index do |res, j| %>
				<% if res.writer && current_user %> 
					<% current_user.responses.each_with_index do |current_user_response, k| %>
						<% if current_user_response.writer == current_user.name && res.id == current_user_response.id %>
							<td style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 14px; width: 850px;">
							<% if @todays_date == current_user_response.time %>
								<div style="color: #C9C9C9">Today, <%= @localtime[k] %>, <%= res.wordcount %> words</div>
							<% elsif @todays_date.day - res.time.day == 1 %>
								<div style="color: #C9C9C9">Yesterday, <%= res.wordcount %> words</div>
							<% else %>
								<!-- Does it enter this case? -->
								<div style="color: #C9C9C9"><%= @day + " " + Date::MONTHNAMES[@month.to_i] + ', ' + @localtime[i] %>, <%= res.wordcount %> words</div>
							<% end %>
								<%= link_to challenge.exercise, edit_writing_challenge_response_path(challenge, res), 'data-no-turbolink' => true, :class => 'exercise', :style => "text-decoration: underline;" %>
							</td>
						<% end %>
					<% end %>
				<% end %>
			<% end %> 
			
	</tr>
<% end %>