<div class="border-form-div">
	<p class="form-top-message">Change your password</p>

	<%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :put, novalidate: :novalidate }, data: {validate: 'parsley'}) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div><%= f.label :password, "New password", :class => 'ticker' %><br />
	    <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true %></div>

	  <div><%= f.label :password_confirmation, "Confirm new password", :class => 'ticker' %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off", required: true, 'data-parsley-equalto' => "#user_password"  %></div>

	  <%= button_tag(type: 'submit', class: "ladda-button", 'data-style' => "zoom-out") do %>
			<span class="ladda-label" style="font-size: 20px">Change Password</span>
	  <% end %>
	<% end %>

</div>

<%=javascript_include_tag "ladda.min.js", "spin.min.js" %>

<script>
$( document ).ready(function() { 
	Ladda.bind( '.ladda-button' );
	$(".ladda-button").click(function() { 
		if ($("[name='user[password]']").val() != $("[name='user[password_confirmation]']").val()) { 
			Ladda.stopAll();
		} 
	});
	
}); 
</script>