<h1 class="writersmob-header">WritersMob</h1>
<div class="border-form-div">
	<p class="form-top-message">Forgot your password?</p>
	<%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :post, novalidate: :novalidate}, data: {validate: 'parsley'}) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email_address, :class => 'ticker' %><br />
	  <%= f.email_field :email, autofocus: true, required: true, "data-parsley-remote"=>true, "data-parsley-remote-validator" => 'check-if-email-exists', "data-parsley-remote-options"=>'{ "type": "GET" }', 'data-parsley-remote-message' => '' %></div>

	  <%= button_tag(type: 'submit', class: "ladda-button", 'data-style' => "zoom-out") do %>
			<span class="ladda-label">Reset Password</span>
	  <% end %>
	<% end %>
	<% if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <div id="register-link">
	  	<%= link_to "Register to become a better writer!", new_registration_path(resource_name), 'data-no-turbolink' => true, :class => "anchor-link blue" %><br />
	  </div>
	<% end %>
</div>

<%=javascript_include_tag "ladda.min.js", "spin.min.js" %>

<script>
$( document ).ready(function() { 
	Ladda.bind( '.ladda-button' );
}); 

$('[name="user[email]"]').parsley().addAsyncValidator(
  'check-if-email-exists', function (xhr) {
    var UserEmail = $('[name="user[email]"]').parsley();
    window.ParsleyUI.removeError(UserEmail, "email");

    if(xhr.status == '200')
       return 200;
    if(xhr.status == '422' || xhr.status == '404'){
       window.ParsleyUI.addError(UserEmail, "email", xhr.responseText);
       $('.parsley-remote').remove();
       Ladda.stopAll();
	}
  }, "<%= check_if_email_exists_url%>");
	
$('[name="user[email]"]').keyup(function() { 
	var UserEmail = $('[name="user[email]"]').parsley();
    window.ParsleyUI.removeError(UserEmail, "email");
});
</script>
